---

import MainGridLayout from '../layouts/MainGridLayout.astro'

import { getEntry } from 'astro:content'
import { i18n } from '../i18n/translation'
import I18nKey from '../i18n/i18nKey'
import Markdown from '@components/misc/Markdown.astro'

const 404Post = await getEntry('spec', '404')

const { Content } = await 404Post.render()
---
<MainGridLayout title={i18n(I18nKey.404)} description={i18n(I18nKey.404)}>
    <div class="flex w-full rounded-[var(--radius-large)] overflow-hidden relative min-h-32">
        <div class="card-base z-10 px-9 py-6 relative w-full ">
            <Markdown class="mt-2">
                <Content />
            </Markdown>
            <div class="transition border-dashed border-[oklch(85%_0.01_var(--hue))] dark:border-white/15 rounded-2xl mb-12 flex flex-col items-center justify-center px-6">
              <a href="https://my.idcloudhost.com/aff.php?aff=18415" target="_blank"><img src="https://idcloudhost.com/wp-content/uploads/2017/01/IDCloudHost-SSD-Cloud-Hosting-Indonesia-468x60.jpg" height="60" width="468" border="0" alt="IDCloudHost | SSD Cloud Hosting Indonesia" /></a>
            </div>
        </div>
    </div>
</MainGridLayout>
